/**
  公共样式
*/
*{
  font-family: 'Source Han Sans CN';
}
.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 24px;
}

.ml20 {
  margin-left: 20px;
}

.ml300 {
  margin-left: 320px;
}

.flex {
  display: flex;
}

.flex_clo {
  display: flex;
  flex-direction: column;
}

.leakage-cable .leakage-top{
  padding-right: 10px;
}

.el-button-group{
  position: absolute;
}

.el-table{
  height: calc(88vh - 150px);
  overflow-y: auto;
}


.el-dialog__header{
  text-align: center;
}
.device-detail-tb td{
  text-align: right;
  background: #fff;
  color:#333333;
  padding-left: 25px;
}
.form .el-form-item .el-select{
  width: 100%;
}
.search-input-box{
  display: inline-block;
  margin-right: 20px;
  
  margin-bottom: 15px;
  .label{
    color: teal;
  font-weight: 400px;
  font-size: 14px !important;
}
}
.search-div{
  background: #EAF1FE;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  }
  .none{
    display: none;
  }
  .seabtn{
    color: #fff;
    background:rgba(122, 164, 251, 0.55);
  }
  .el-dialog{
    border-radius: 8px;
  }
  .particulars{
    color:#666666
  }
 
.header_title {
  font-size: 23px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #0058ff;
  letter-spacing: 5px;
  opacity: 1;
  margin-bottom: 20px;
}
.alarmbtn,.picbtn {
  margin-top: 6px;
  margin-bottom: 6px;
}
.levelData{
  min-width:52px;
}

.level_G {
  color: #00D100;
}

.level_R {
  color: #FF1744;
}

.level_O {
  color: #FF6D00;
}

.level_Y {
  color: #FFAB00;
}

