.top-nav {
  width: 100%;
  height: $topBarHeight;
  background-color: var(--top-nav-bg) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;

  .log {
    height: 100%;
    padding: 0 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    float: left;
    font-family: Source Han Sans CN-Medium, Source Han Sans CN;
    font-weight: 500;
    color: #fff;
  }

  .el-menu {
    float: left;
    border: none !important;
    background-color: var(--top-nav-bg) !important;

    .nav-item {
      display: inline-block;

      .el-menu-item {
        height: $topBarHeight;
        color: var(--menu-text) !important;
        font-size: 18px;
        font-family: Source Han Sans CN-Regular, Source Han Sans CN;
        font-weight: 400;
        .svg-icon {
          font-size: 40px;
          vertical-align: middle;
        }
        &:hover {
          background-color: var(--menu-hover) !important;
        }
      }

      .is-active {
        background-color: var(--menu-hover) !important;
        color: var(--menu-active-text) !important;
        position: relative;
      }

      .is-active::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--menu-show-box);
      }
    }
  }

  .right-menu {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 35px;

    &:focus {
      outline: none;
    }

    & .icon {
      height: 100%;
      font-size: 22px;
      display: flex;
      align-items: center;
      color: var(--svg-color);
      cursor: pointer;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;
        display: flex;
        align-items: center;
        .user-avatar {
          cursor: pointer;
          width: 30px;
          height: 30px;
          border-radius: 30px;
        }

        .user-name {
          font-size: 14px;
          font-family: Source Han Sans CN-Regular, Source Han Sans CN;
          font-weight: 400;
          color: #fff;
          margin: 0 14px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          font-size: 18px;
          color: #ffffff;
        }
      }
    }
  }
}