// sidebar
$sideBarWidth: 210px;
$contentHeight: calc(100vh - 56px);
$appBg:#161616;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  sideBarWidth: $sideBarWidth;
  contentHeight:$contentHeight;
  appBg:$appBg;
}
