// sidebar
$menuText:#B9B9B9;
$menuActiveText:#FFFFFF;
$menuShowbox:#0080FF;

$subMenuText:#B9B9B9;
$subMenuActiveText:#FFFFFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#232323;
$menuHover:#161616;

$subMenuBg:#232323;
$subMenuHover:#0080FF;

$topnavBg:#232323;
$topNavMenuHorizontalBg:#232323;

$sideBarWidth: 210px;
$mainLeft:216px;
$topBarHeight: 60px;
$sidebarTop:66px;
$logoWidth:340px;
$contentHeight: calc(100vh - 60px);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  sidebarTop:$sidebarTop;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  topnavBg: $topnavBg;
  logoWidth:$logoWidth;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuText:$subMenuText;
  mainLeft:$mainLeft;
  menuShowbox:$menuShowbox;
  topNavMenuHorizontalBg: $topNavMenuHorizontalBg;
}